<div class = "row">
	<div class = "columns span6 offset1">
		<blockquote>
		<p>
			Hey, my name's Luke Parham and right now I'm a senior in Computer Science and Information Technology at the University of Missouri.  The things I'm most interested in are developing web applications, getting good at modern software engineering techniques, learning the ukulele, and traveling.  I'm also right in the middle of <strong>Godel, Escher, Bach: An Eternal Golden Braid</strong> and think every chapter is more interesting than the last. 
		</p>
		</blockquote>	
		<address>
			<strong>Address:</strong><br>
			704 South College Ave<br>
			Columbia, MO 65201<br><br>
			<strong title = "phone">Phone:</strong><br>
			(636) 237-3399<br><br>
			<strong>Email:</strong><br><a href = "mailto:lappp9@mail.missouri.edu">Lappp9@mail.missouri.edu</a>
		</address>
		<a href = "http://twitter.com/lukeparham" target = "_blank"><img class = "btn" src = "images/twitter.jpg"></a>
		<a href = "http://facebook.com/lukeparham"  target = "_blank"><img class = "btn" src = "images/facebook.jpg"></a>
		<a href = "http://github.com/lappp9" target = "_blank"><img class = "btn" src = "images/github.jpg"></a>		
	</div>
</div>