<div class = "row">
	<div class = "columns span6 offset1">
		<blockquote>
		<p>
			Hey, my name's Luke Parham and I have Bachelor's of Science degrees in both Computer Science and Information Technology from the University of Missouri - Columbia.  My interests are split pretty evenly between going to Ph.D. school to do Computer Science research and getting into the startup scene. Sometimes I try to be sarcastic in print. I'm not actually that big of a tool.
		</p>
		</blockquote>	
		<address>
			<strong>Address:</strong><br>
			704 South College Ave<br>
			Columbia, MO 65201<br><br>
			<strong title = "phone">Phone:</strong><br>
			(636) 237-3399<br><br>
			<strong>Email:</strong><br><a href = "mailto:lappp9@mail.missouri.edu">Lappp9@mail.missouri.edu</a>
		</address>
		<a href = "http://twitter.com/lukeparham" target = "_blank"><img class = "btn" src = "images/twitter.jpg"></a>
		<a href = "http://facebook.com/lukeparham"  target = "_blank"><img class = "btn" src = "images/facebook.jpg"></a>
		<a href = "http://github.com/lappp9" target = "_blank"><img class = "btn" src = "images/github.jpg"></a>		
	</div>
</div>