.row
	.columns.span6.offset1
		%blockquote
			%p 
				Hey, my name's Luke Parham and I have Bachelor's of Science degrees in both Computer Science and Information Technology from the University of Missouri - Columbia.  My interests are split pretty evenly between going to Ph.D. school to do Computer Science research and getting into the startup scene. Sometimes I try to be sarcastic in print. I'm not actually that big of a tool.
		%address
			%strong
				Address:
				%br
				704 South College Ave
				%br
				Columbia, MO 65201
				%br
				%br
				%strong{:title => "phone"} Phone:
				%br
				(636) 237-3399
				%br
				%br
				%strong>Email:
				%br
				%a{:href => "mailto:lappp9@mail.missouri.edu"} Lappp9@mail.missouri.edu
				%br
				%br
				=link_to image_tag("twitter.jpg", :class=>"btn"), "http://twitter.com/lukeparham"
				=link_to image_tag("facebook.jpg", :class=>"btn"), "http://facebook.com/lukeparham"
				=link_to image_tag("github.jpg", :class=>"btn"), "https://github.com/lappp9"
