<div class = "row">
	<div class = "columns span6 offset1">
		<address>
			<strong>Address:</strong><br>
			704 South College Ave<br>
			Columbia, MO 65201<br><br>
			<strong title = "phone">Phone:</strong><br>
			(636) 237-3399<br><br>
			<strong>Email:</strong><br><a href = "mailto:lappp9@mail.missouri.edu">Lappp9@mail.missouri.edu</a>
		</address>
		<a href = "http://twitter.com/lukeparham"><img src = "images/twitter.jpg"></a>
		<a href = "http://facebook.com/lukeparham"><img src = "images/facebook.jpg"></a>
	</div>
</div>