<div class = "container">
	<div class = "row">
		<div class = "span5 offset1">
			<ul class = "nav nav-pills">
  				<li class = "active 1"><a href ="/projects">Projects</a></li>
  				<li class = "2"><a href = "/research">Research</a></li>
  				<li class = "3"> <a href = "/resume.pdf">Resume</a></li>
  				<li class = "4"> <a href = "/thoughts">Thoughts</a></li>
			</ul>
		</div>
	</div>
	<div class = "row">	
		<div class="span9 columns offset1">
			<div id="myCarousel" class="carousel slide">
		            <div class="carousel-inner">
		              
						<div class="item active">
			                <img src="images/projects.jpg" alt="">
			                <div class="carousel-caption">
			                  <h4>Projects</h4>
			                  <p>Some examples of the various projects I've worked on over the years. No big deal.</p>
			                </div>
			              </div>

  			      <div class="item">
			          <img src="images/bootstrap-mdo-sfmoma-03.jpg" alt="">
			          <div class="carousel-caption">
			            <h4>Research</h4>
			            <p>Stuff</p>
			          </div>
			        </div>
			
					<div class="item ">
		                <a href = "/resume.pdf"><img src="images/resume.jpg" alt=""></a>
		                <div class="carousel-caption">
		                  <h4>Resume</h4>
		                  <p>Click for full resume.</p>
		                </div>
		              </div>
		
		          

		              <div class="item">
		                <img src="images/bootstrap-mdo-sfmoma-03.jpg" alt="">
		                <div class="carousel-caption">
		                  <h4>Thoughts</h4>
		                  <p>Stuff</p>
		                </div>
		              </div>		
		
		            </div>
		
		            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		          </div>
		</div>
</div>