.container
  .row
    .span4
      %h1 Hey, I'm Luke.
  %br
  .row
    .span9
      %blockquote
        %p 
          I have Bachelor's degrees in both Computer Science and Information Technology from the University of Missouri - Columbia.  
          %br
          %br
          My big interests in life are: web development/desgin, learning Japanese (and in the future maybe Hebrew), 
          health and nutrition, and most importantly growing in the word of God.  If you have questions about any
          of these topics feel free to ask. Or hit me up on one of the social networks I frequent.

      %br
      =link_to image_tag("twitter.jpg", :class=>"btn"), "http://twitter.com/lukeparham"
      =link_to image_tag("facebook.jpg", :class=>"btn"), "http://facebook.com/lukeparham"
      =link_to image_tag("github.jpg", :class=>"btn"), "https://github.com/lappp9"
    .span3
      =image_tag "luke.jpeg" , :class => "img-polaroid, thumbnail"
    
