<h2>Projects</h2>
<br />
	<div id = "myTabs" class = "tabbable tabs-left">
		<ul id = "tab" class = "nav nav-tabs">
			<li class = "active"><a href = "#ruby" data-toggle = "tab">Ruby</a></li>
			<li><a href = "#c" data-toggle = "tab">C/C++</a></li>
			<li><a href = "#js" data-toggle = "tab">JavaScript</a></li>
			<li><a href = "#php" data-toggle = "tab">php</a></li>
			<li><a href = "#python" data-toggle = "tab">Python</a></li>
			<li><a href = "#objc" data-toggle = "tab">Objective-C</a></li>
		</ul>

	<div id = "myTabContent" class = "tab-content">
		<div id = "ruby" class = " tab-pane active">	
			<div class= "row">
				<div class = "span4" data-original-title>
					<h4> ChickenChasing.com </h4>
					<div><a class= "btn" href = "/modernInterior"><img src="pictures/Extreme Right.jpg" alt="3DS Max"/></a></div>
				</div>
				
				<div class = "span4" data-original-title>
					<h4>CS3380 Class Website</h4>
					<div>
						<a class= "btn" href = ""><img src="" alt=""/></a>
					</div>
				</div>	
				
					<div class = "span4" data-original-title>
						<h4></h4>
						<div>
							<a class= "btn" href = ""><img src="" alt=""/></a>
						</div>
					</div>
			</div>	
		</div>	
		
		<div id = "c" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> The Speed of Light</h4>
					<div>
						<a class= "btn" href = "/dormSuite"><img src="pictures/Exploded Dn2.jpg" alt="SketchUP"/></a>
					</div>
				</div>
	
				<div class = "span5" data-original-title>
					<h4> My Very Own Shell</h4>
					<div>
						<a class= "btn" href = "/kindergarten"><img src="pictures/front page1.jpg" alt="SketchUP"/></a>
					</div>
				</div>
			</div>
		</div>
		
		<div id = "js" class = " tab-pane">	
			<div class = "row">
				<div class = "span5" data-original-title>
					<h4> Mortality Risk Calculator </h4>
					<div>
						<a class= "btn" href = "/assistedLiving"><img src="pictures/Pencil Sketch 2.jpg" alt="Podium"/></a>
					</div>
				</div>
			
				<div class = "span5" data-original-title>
					<h4> MU Hospital Patient List MPages </h4>
					<div>
						<a class= "btn" href = "/animation"><img src="pictures/jet.jpg" alt="Board 1"/></a>
					</div>
				</div>
			</div>
		</div>
		<div id = "php" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> Airline Reservation System</h4>
					<div>
						<a class= "btn" href = "/muStrategicCommunicationsBuilding"><img src="pictures/MiddleOut.jpg" alt="Podium"/></a>
					</div>
				</div>
			
				<div class = "span5" data-original-title>
					<h4> TigerTech Adventures</h4>
					<div>
						<a class= "btn" href = "/booneCountyFireStation8"><img src="pictures/slide0001_image011.png" alt="Station 8"/></a>
					</div>
				</div>
			</div>		
		</div>
		
		
		<div id = "python" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> Capstone </h4>
					<div>
						<a class= "btn" href = "/muStrategicCommunicationsBuilding"><img src="pictures/MiddleOut.jpg"alt="Podium"/></a>
					</div>
				</div>
			</div>		
		</div>
		
		<div id = "objc" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4>Redi Entrepreneurship App</h4>
					<div>
						<a class= "btn" href = "/muStrategicCommunicationsBuilding"><img src="pictures/MiddleOut.jpg"alt="Podium"/></a>
					</div>
				</div>
			</div>		
		</div>
		
	</div>
	</div>	
</div>	
