%h2 Projects
%br 
#myTabs.tabbable.tabs-left
  %ul#tab.nav.nav-tabs
    -@langs.each do |lang|
      %li{:class => (@langs.first == lang) ? "active" : "" }
        =link_to lang, "##{lang}", "data-toggle"=>"tab"

  #myTabContent.tab-content
    -@projects.each do |language, projects|
      .tab-pane{:id => "#{language}", :class => (@langs.first == projects[0].lang) ? "active" : "" }
        .row
          -projects.each do |project|
            .span3.data-original-title
              %h4 
                =project.title
              .project
                =link_to image_tag("#{project.picture}"), project_path("#{project.title}"), :class => 'btn'

        
