// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin:0;
	padding:0;
	height: 100%;
}


#content{
	margin-left: 162px;
	margin-right: 162px;
	min-height: 100;
	vertical-align: bottom;
}