body{
	background-color:#111;
	color: white;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Regular'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');

}
a{
  
	color: white;
}

img{
}

.content{
	margin: 0;
	width: 100%;
	color: white;
	background-image: url('');
	height: 60px;
	padding-top: 25px;
	padding-bottom: 0px;
	overflow: hidden;
}

div{
	border: 0px solid black;
	
}

.mainHeader{
	padding-left: 50px;
}

